.imagem__links__titulo {
    text-align: center;
    margin-bottom: 20px;
}

.imagem__links_imagens {
    height: 180px;
    width: 320px;
    border-radius: 8px;
    box-shadow: 0 4px 4px 0 #aaa;
}

.imagem__links__conteudo {
    display: flex;
    justify-content: space-around;
    text-align: center;
    font-family: Verdana, sans-serif;
    font-size: 14px;
}

.imagens__links__item {
    display: flex;
    flex-direction: column;
}