@import url("../styles/cabecalho.css");
@import url("../styles/login.css");
@import url("../styles/cadastrar.css");
@import url("../styles/anunciar.css");
@import url("../styles/carrossel.css");
@import url("../styles/buscar.css");
@import url("../styles/quadro.css");
@import url("../styles/anuncios.css");
@import url("../styles/esquecisenha.css");
@import url("../styles/links.css");
@import url("../styles/rodape.css");
@import url("../styles/ADM_tabela_usuario.css");

:root {
  --cor-do-background: #F2FCFC;
  --cor-do-botao: #00A9FF;
  --cor-da-letra-1: #000000;
  --cor-da-letra-2: #0245A3;
  --cor-da-borda: #ccc;
}

body {
  height: 100vh;
  background: var(--cor-do-background);
  margin: auto;
}

::-webkit-scrollbar {
  width: 8px;
  background: #9a93a0;
}

::-webkit-scrollbar-thumb {
  background: #1b1a1b;
  
}

